* {
  box-sizing: border-box;
  /* color: rgb(184, 158, 11); */
  color: rgba(60, 175, 255, 0.65);

  /* font-family: 'Patrick Hand SC', cursive;  */
  /* good all caps style top contender */

  font-family: 'Walter Turncoat', cursive; 
  /* even better than the above */

}

body {
  /* background-color: rgb(53, 49, 75); */
  background-color: rgb(25, 30, 25);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  transform: rotate(-8deg);
  font-size: 36pt;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .display {
  min-width: 450px;
}
 */
.display h3 {
  transform: rotate(-1deg);
}

input, select {
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 2px groove  rgba(60, 175, 255, 0.65);
  background-color: rgb(33, 37, 33);
  text-align: center;
  font-size: 20px;

}

button {
  border-radius: 20%;
  height: 4em;
  width: 8em;
  background-color: slategrey;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 5px 0 3px #999;
  margin: 10px;
}

button:active {
  background-color: darkslategrey;
  box-shadow: 0 3px 0 2px #666;
  transform: translateY(4px);
  color: rgba(60, 175, 255, 0.65);

}

button.l-button {
  height: auto;
  width: auto;
  padding: 2px;
  box-shadow: 0 1px 0 0.5px #999;
}
