* {
  box-sizing: border-box;
  color: rgba(60, 175, 255, 0.65);
  font-family: 'Walter Turncoat', cursive; 
}

html { 
  background: linear-gradient(15deg, rgba(25,20,25,1) 0%, rgba(25,30,25,1) 65%, rgb(54, 75, 45) 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.header h1 {
  transform: rotate(-8deg);
  font-size: 36pt;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  display: none;
}

.display h3 {
  transform: rotate(-1deg);
}

.survey {
  width: 400px;
}

.survey p {
  height: 2em;
}

input, select {
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 2px groove  rgba(60, 175, 255, 0.65);
  background-color: rgb(33, 37, 33);
  text-align: center;
  font-size: 20px;

}

button {
  border-radius: 20%;
  height: 4em;
  width: 8em;
  background-color: slategrey;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 5px 0 3px #999;
  margin: 10px;
}

button:active {
  background-color: darkslategrey;
  box-shadow: 0 3px 0 2px #666;
  transform: translateY(4px);
  color: rgba(60, 175, 255, 0.65);

}

button.l-button {
  height: auto;
  width: auto;
  padding: 2px;
  box-shadow: 0 1px 0 0.5px #999;
}

.s-button {
  position: relative;
  float: right;
}

.sort-item {
  border-bottom: 2px dotted  rgba(60, 175, 255, 0.65);
  padding: 10px 0 15px 0;
}

@media only screen and (max-width: 425px) {
  .survey {
    width: 300px;
  }
}
